html, body {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  color: [[text-color]];
  background-color: [[background-color]];
  font-family: 'Arial', 'Helvatica', sans-serif;
}

*::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar {
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*:hover::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb:hover {
  background-color: [[scrollbar-hover-color]];
}

*:hover::-webkit-scrollbar-thumb:active, *::-webkit-scrollbar-thumb:active {
  background-color: [[scrollbar-active-color]];
}

.x-component--header-section {
  background: [[header-background-color]];
  box-shadow: 0px 1px 2px black;
}

.x-component--header-section {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  width: 100%;
  height: [[unit-size]];
  display: inline-block;
}

.x-component--header-section, .x-component--header-section * {
  vertical-align: middle;
}

.x-component--header-section .segment {
  display: inline-block;
}

.x-component--header-section .segment.left-corner,
.x-component--header-section .segment.right-corner {
  [[corner-segment-size-block]]
}

.x-component--header-section .segment.right-corner {
  position: fixed;
  right: 0px;
  top: [[header-vertical-padding]];
}

.x-component--header-section .segment.middle-segment {
  position: fixed;
  left: [[middle-segment-padding]];
  right: [[middle-segment-padding]];
}

.x-component--logo {
  display: inline-block;
  font-weight: normal;
  margin: 0;
  [[logo-size-block]]
}

.x-component--logo, .x-component--logo * {
  text-align: center;
  line-height: [[logo-line-height]];
  color: [[header-text-color]];
  [[logo-size-block]]
}

.x-component--logo, .x-component--logo * {
  text-align: center;
  line-height: [[logo-line-height]];
  color: [[header-text-color]];
}

.x-component--logo a {
  text-decoration: none;
}

[hidden], [hidden] *, input[type='hidden'], button[type='hidden'], {
  display: none;
}

.x-component--search-box {
  display: inline-block;
}

.x-component--search-box {
  height: [[search-box-height]];
  margin: 0;
  box-sizing: border-box;
  padding-top: [[header-vertical-padding]];
  padding-bottom: [[header-vertical-padding]];
}

#theme-switcher {
  text-decoration: none;
}

#search-box-input {
  background-color: [[search-box-background-color]];
  border: none;
  color: [[header-text-color]];
  position: absolute;
  width: 100%;
  height: [[search-box-input-height]];
  padding-left: [[search-box-input-padding-left]];
  padding-right: [[search-box-input-padding-right]];
  box-sizing: border-box;
}

#search-box-button, #theme-switcher-button {
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  margin: 0px;
  padding: 3px;
  border: none;
  [[search-box-button-size-block]]
}

#search-box-button {
  background-color: [[search-box-button-background-color]];
  background-image: url([[search-icon]]);
  position: absolute;
  right: 0px;
  top: [[header-vertical-padding]];
}

#theme-switcher, #user-profile-view {
  display: inline-block;
}

#theme-switcher-button {
  background-image: url([[night-mode-icon]]);
  [[header-square-button-size-block]]
}

#login-anchor, #login-anchor button {
  cursor: pointer;
}

#profile-button, #profile-image {
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: transparent;
  [[header-square-button-size-block]]
}

#profile-setting {
  position: absolute;
  overflow: hidden;
  right: 0px;
  top: [[unit-size]];
  width: [[profile-setting-width]];
  background-color: [[profile-setting-background-color]];
}

#popup-profile-view {
  display: block;
  background-color: [[profile-setting-avatar-background-color]];
}

#popup-profile-view > * {
  display: inline-block;
}

#popup-profile-image {
  [[profile-setting-avatar-size-block]]
}

#profile-setting .button-container {
  display: block;

}

#profile-setting .button-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: [[profile-setting-width]];
  height: [[header-child-height]];
}

#profile-setting .button-container button:hover {
  background-color: [[profile-setting-hover-background-color]];
  box-shadow: none;
  filter: none;
}

#profile-setting .button-container button a {
  text-decoration: none;
  display: inline-block;
  line-height: [[header-child-height]];
  color: [[text-color]];
  width: [[profile-setting-width]];
  height: [[header-child-height]];
}

nav {
  text-transform: uppercase;
  position: fixed;
  width: [[logo-width]];
  height: 100%;
  top: 0px;
  z-index: 500;
  overflow-x: hidden;
  overflow-y: scrollbar;
  background-color: [[navigation-background-color]];
  box-shadow: 0px 0px 1px black;
}

nav::-webkit-scrollbar {
  width: 0.75em;
}

nav > :first-child {
  margin-top: [[unit-size]];
}

nav .subpage.title {
  font-size: 0.7em;
  display: inline-block;
}

nav ul, nav li {
  list-style: none;
  padding: 0px;
}

nav li {
  margin: 5px;
}

nav > ul > ul > li:hover {
  background-color: [[navigation-hover-background-color]];
}

nav > ul > ul > li a {
  color: [[clickable-text-color]];
  text-decoration: none;
  width: [[logo-width]];
  height: [[navigation-entry-height]];
  vertical-align: middle;
  line-height: [[navigation-entry-line-height]];
  display: inline-block;
}

nav > ul > ul > li.current-page {
  background-color: [[navigation-activated-background-color]];
}

nav > ul > ul > li.current-page a[href] {
  color: [[hover-clickable-text-color]];
}

nav a[href]:hover {
  color: [[hover-clickable-text-color]];
}

nav > ul > ul > li a[href]:hover {
  filter: brightness(1.8);
}

nav ul ul:last-child > li {
  height: 30px;
  background-image: transparent;
  text-decoration: underline;
  text-transform: none;
  color: [[text-color]];
}

main {
  display: inline-block;
  width: 100%;
  margin-left: [[logo-width]];
  margin-top: [[unit-size]];
  padding: 15px;
}

text-area:focus, input:focus, button:focus {
  outline: none !important;
}

text-area:focus, input:focus {
  box-shadow: inset 0 0 5px [[shadow-color]];
}

button:hover {
  filter: brightness(1.2) drop-shadow(1px 1px 2px [[shadow-color]]);
  box-shadow: 0px 0px 3px [[shadow-color]];
}

.x-component--text-button {
  text-transform: uppercase;
  border: 0px;
  [[text-button-size-block]]
}

.x-component--primary-button {
  box-shadow: 0px 1px 2px black;
  color: [[primary-button-text-color]];
  background-color: [[primary-button-background-color]];
}

.x-component--primary-button:hover {
  box-shadow: 0px 2px 3px black;
  background-color: [[primary-button-hover-background-color]];
}

.x-component--primary-button:active {
  box-shadow: 0px 0px 0px;
}

.x-component--secondary-button {
  color: [[secondary-button-text-color]];
  background-color: transparent;
}

.x-component--secondary-button:hover {
  filter: none;
  background-color: [[secondary-button-hover-background-color]];
}

[hidden], [hidden] *, input[type='hidden'], button[type='hidden'] {
  display: none;
}

.x-component--game-item {
  display: inline-block;
  [[game-item-size-block]]
}

.x-component--game-item img {
  [[game-item-image-size-block]]
  margin: [[game-item-image-margin]];
}

.x-component--game-item figure {
  margin-left: [[game-item-figure-margin]];
  margin-right: [[game-item-figure-margin]];
}

.x-component--game-item figcaption {
  text-align: center ;
  height: [[game-item-figcaptionheight]];
  color: [[text-color]];
}

.x-component--game-item:hover {
  background: [[game-item-hover-background]];
}

.x-component--game-item * {
  display: inline-block;
  text-align: center;
}

#game-menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.embed-container {
  width: 100%;
  object-fit: contain;
}

.embed-container .embed {
  display: block;
  height: 500px;
  width: 100%;
  object-fit: contain;
}

.main-footer {
  text-align: center;
}
