html, body {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  color: [[text-color]];
  background-color: [[background-color]];
}

.x-component--header-section {
  background: [[header-background-color]];
}

.x-component--logo {
  display: inline-block;
  margin: 0;
}

.x-component--logo a {
  color: [[logo-text-color]];
  text-decoration: none;
}
