RedirectMatch 403 /(lib|vendor|model|view|controller|\.git)/
RedirectMatch 403 \.(styl|stylus|htaccess|editorconfig|gitmodules)
RedirectMatch 403 /README/
php_value post_max_size 30M
php_value upload_max_filesize 50M
php_value file_uploads on
php_value max_execution_time 120
